@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&family=Zhi+Mang+Xing&display=swap');

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

//鼠标移动上面放大效果
.zoom:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  display: inline-block;
}

//页面
.main-page {
  display: flex;
  height: 100vh;
  background-color: #27262b;
  font-family: 'Source Code Pro', 'ZCOOL KuaiLe';
  color: #D8D9D4;
}

//左侧面板
.left {
  width: 18rem;
  display: flex;
  flex-direction: column;
  border-right: 1px dotted #44434d;
}

.left.visible{
  display: none;
}

@media (max-width: 950px) {
  .left{
    display: none;
  }

  .left.visible{
    display: flex;
  }
}

  //左侧面板头部
.left-header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #44434d;
}

.left-header > div {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center
}

//左侧面板头部图片
.left-header img {
  height: 2rem;
  background: none;
}

//左侧面板头部文字
.left-header a {
  font-size: 1.2rem;
  color: white;
  flex: 1;
  text-align: center;
  line-height: 3rem;
}

//左侧内容
.left-content {
  width: 100%;
  padding-top: 1rem;
  overflow: auto;
}

//左侧底部
.left-bottom {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  height: 6rem;
  border-top: 1px dashed #44434d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//访问量
.views-counts {
  font-weight: lighter;
  text-decoration: underline;
  display: inline-block;
  margin: 0 0.3rem;
}


.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.middle-scroll {
  height: calc(100% - 3rem);
  overflow: auto;
}

.middle-header {
  height: 3rem;
  display: flex;
  border-bottom: 1px solid #44434d;
  border-right: 1px solid #44434d;
}

.middle-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.middle-page-counts {
  text-align: right;
  padding-right: 3rem;
  font-size: 0.8rem;
  font-weight: lighter;
}

.middle-bread {
  padding-left: 1rem;
}

.middle-context {
  padding: 1rem 2rem;
  flex: 1;

  img {
    max-width: 60%;
    clear: both;
    display: block;
    margin: auto;
  }

  p {
    margin-bottom: 0;
    //text-indent: 2em;
  }

  ul {
    list-style-type: none;

    > li {
      color: #b1bdc9;

      &::before {
        position: relative;
        margin-left: -1.4em;
        content: url("../../assets/css/image/li.svg");
      }
    }
  }

  h1:before {
    content: "/";
  }

  h2:before {
    content: "//";
  }

  h3:before {
    content: "///";
  }

  h4:before {
    content: "////";
  }

  h5:before {
    content: "/////";
  }

  h6:before {
    content: "//////";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-family: 'Indie Flower', 'Long Cang', 'Source Code Pro', 'ZCOOL KuaiLe';
    color: #91c2e7;
    font-style: italic;

    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #27262b, #27262b), linear-gradient(135deg, #dbc3a2, #1e2122);
    border-bottom: 1px transparent solid;

    &:first-child {
      margin-top: 1em;
    }

    + table,
    + .table-wrapper,
    + .code-example,
    + .highlighter-rouge {
      margin-top: 1em;
    }

    + p {
      margin-top: 0;
    }
  }
}

//右侧toc
.right {
  width: 18rem;
  margin-top: 3rem;
  overflow: auto;
  border-left: 1px dotted #44434d;
}

.right.visible{
  display: none;
}

@media (max-width: 750px) {
  .right{
    display: none;
  }

  .right.visible{
    display: flex;
  }
}

.right a:hover {
  transform: scale(1.1, 1.1);
  display: inline-block;
  text-decoration: underline;
}


//代码样式
code {
  color: #2b7df3;
  background: none;
  border: none;
  font-weight: 300;
  font-family: 'Source Code Pro', 'ZCOOL KuaiLe';
  font-size: 1em;
}

.highlight code {
  color: #b1bdc9;
}

.highlight .cm {
  color: #629755;
}

.highlight .kd {
  color: #cc7832;
}

.highlight .nc {
  color: #cfd2d5;
}

.highlight .kt {
  color: #cc7832;
}

.highlight .nf {
  color: #ffc66d;
}

.highlight .na {
  color: #cfd2d5;
}

.highlight .n {
  color: #cfd2d5;
}

.highlight .k {
  color: #cc7832;
}

.highlight .c1 {
  color: #787f7f;
}

.highlight .nt {
  color: #ffc66d;
}

.highlight .cp {
  color: #bababa;
}

.highlight .nd {
  color: #baac27;
}

.highlight .s {
  color: #629755;
}

.highlight .kc {
  color: #cc7832;
}


