@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&family=Zhi+Mang+Xing&display=swap');


::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


.main-content {

  img {
    max-width: 60%;
    clear: both;
    display: block;
    margin: auto;
  }

  p {
    margin-bottom: 0;
    //text-indent: 2em;
  }

  ul {
    list-style-type: none;

    > li {
      color: #b1bdc9;

      &::before {
        position: absolute;
        margin-left: -1.4em;
        content: url("../../assets/css/image/li.svg");
      }
    }
  }

  blockquote {
    background-color: #444444;
  }


  h1:before {
    content: "/";
  }

  h2:before {
    content: "//";
  }

  h3:before {
    content: "///";
  }

  h4:before {
    content: "////";
  }

  h5:before {
    content: "/////";
  }

  h6:before {
    content: "//////";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-family: 'Indie Flower', 'Long Cang', 'Source Code Pro', 'ZCOOL KuaiLe';
    color: #91c2e7;
    font-style: italic;

    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #27262b, #27262b), linear-gradient(135deg, #dbc3a2, #1e2122);
    border-bottom: 1px transparent solid;

    &:first-child {
      margin-top: 1em;
    }

    + table,
    + .table-wrapper,
    + .code-example,
    + .highlighter-rouge {
      margin-top: 1em;
    }

    + p {
      margin-top: 0;
    }
  }

  h1 {
    margin-top: 1.5em;
  }
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;
  overflow: auto;

  @include mq(lg) {
    flex-wrap: nowrap;
    position: fixed;
    width: 20%;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
    min-width: $nav-width;
  }
}

.side-bar-right {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;
  margin-top: 60px;
  font-size: 0.9em;
  width: 20%;
  height: calc(100% - 60px);
  overflow: visible;
  box-sizing: content-box;

  @include mq(md) {
    left: 80%;
    top: 0;
    flex-wrap: nowrap;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
  }
}

.toc-link:hover {
  color: #7bbfea;
}

.main {
  overflow: auto;
  @include mq(md) {
    position: relative;
    margin-left: 10px;
    max-width: 2000px;
    width: 80%;
  }

  @include mq(lg) {
    width: 60%;
    margin-left: 20%;
  }
}

.page-title {
  text-align: center;
  margin: 0;
  color: #dcdbda;
  font-family: 'Shadows Into Light', 'Zhi Mang Xing';
}

.page-count {
  display: inline-block;
  font-size: 0.5em;
  color: #616569;
}

.main-header {
  @include mq(md) {
    width: 100%;
  }

  &.nav-open {
    display: block;

    @include mq(lg) {
      display: flex;
    }
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    min-width: $nav-width;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(lg) {
    display: block;
    padding-top: $sp-4;
    padding-bottom: $gutter-spacing-sm;
    overflow: auto;
    overflow-anchor: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  @include mq(md) {
    width: 80%;
  }

  @include mq(lg) {
    width: 100%;
  }
}

body {
  font-family: 'Source Code Pro', 'ZCOOL KuaiLe';
  color: #D8D9D4;
}

.site-footer {
  text-align: center;
}

//代码样式
code {
  color: #2b7df3;
  background: none;
  border: none;
  font-weight: 300;
  font-family: 'Source Code Pro', 'ZCOOL KuaiLe';
  font-size: 1em;
}

.highlight code {
  color: #b1bdc9;
}

.highlight .cm {
  color: #629755;
}

.highlight .kd {
  color: #cc7832;
}

.highlight .nc {
  color: #cfd2d5;
}

.highlight .kt {
  color: #cc7832;
}

.highlight .nf {
  color: #ffc66d;
}

.highlight .na {
  color: #cfd2d5;
}

.highlight .n {
  color: #cfd2d5;
}

.highlight .k {
  color: #cc7832;
}

.highlight .c1 {
  color: #787f7f;
}

.highlight .nt {
  color: #ffc66d;
}

.highlight .cp {
  color: #bababa;
}

.highlight .nd {
  color: #baac27;
}

.highlight .s {
  color: #629755;
}

.highlight .kc {
  color: #cc7832;
}



