$body-background-color: #232425;
$sidebar-color: #232425;
$border-color: $grey-dk-100;

$body-text-color: #a9b7c6;
$body-heading-color: #6190eb;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: #007ed6;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #404040;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);




