{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}
    <img src="https://img.shields.io/github/license/guosonglu/code-notes?style=plastic" style="vertical-align: bottom">|
    <img src="https://img.shields.io/github/repo-size/guosonglu/code-notes?label=%E4%BB%93%E5%BA%93" style="vertical-align: bottom">
    <img src="https://img.shields.io/github/repo-size/guosonglu/images?label=%E5%9B%BE%E5%BA%8A" style="vertical-align: bottom">
  </p>
{%- endif -%}
