{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}
    <img src="https://img.shields.io/github/license/guosonglu/code-notes?style=plastic" style="vertical-align: bottom">|
    <img src="https://img.shields.io/github/repo-size/guosonglu/code-notes?label=%E4%BB%93%E5%BA%93" style="vertical-align: bottom">
    <img src="https://img.shields.io/github/repo-size/guosonglu/images?label=%E5%9B%BE%E5%BA%8A" style="vertical-align: bottom">
    <!--百度统计-->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?82d9deb8eda64c4210c1fa8e7bc8076b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </p>
{%- endif -%}
