<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--单例模式-->
    <bean id="user1" class="com.luguosong.UserImpl" scope="singleton"></bean>

    <!--原型模式-->
    <bean id="user2" class="com.luguosong.UserImpl" scope="prototype"></bean>
</beans>
